.upload-container {
  width: 23vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1vw;
}

.main-upload-text,
.upload-text {
  font-family: Helvetica Neue;
}

.main-upload-text {
  color: #1a1a1a;
  font-size: clamp(1rem, 1.1vw, 5rem);
  font-weight: 500;
}

.upload-text {
  background-color: #0e80bf;
  color: #ffffff;
  font-size: clamp(0.7rem, 0.9vw, 5rem);
  padding: 0.4vw 1vw;
  border-radius: 0.3vw;
}

.upload-text:hover {
  cursor: pointer;
}

.upload-input {
  display: none;
}

.validation-text {
  font-family: Helvetica Neue;
  font-weight: 300;
  font-size: clamp(0.8rem, 0.8vw, 4rem);
  color: #2e2e2e;
}
