.resume-container {
  position: relative;
  width: 95%;
  margin: 0 auto;
  margin-top: 2vw;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.arrow-icon {
  width: 0.7vw;
}

.arrow-icon:hover {
  cursor: pointer;
}

.right-column {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 70vw;
}

.pop-up-message-container {
  box-shadow: 0 4px 8px 0 #e4e4e4, 0 6px 20px 0 #e4e4e4;
  border-radius: 0.5vw;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.close-icon {
  position: absolute;
  right: 1vw;
  top: 0.5vw;
  width: 13.13px;
  height: 13.13px;
}

.close-icon:hover {
  cursor: pointer;
}

.pop-up-message {
  font-family: Helvetica Neue;
  font-weight: 500;
  color: #1a1a1a;
  font-size: clamp(1rem, 1.2vw, 4rem);
  padding: 1vw 2vw;
}
